* {
    border: 1px solid red;
    font-family: "Barlow", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    max-width: 90%;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 175px;
    height: 58px;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    border-radius: 13px;
    cursor: pointer;
}

.btn1 {
    background-color: #e8eff2;
    color: #162542;
}

.btn2 {
    background-color: #f16718;
    color: white;
}

.btn1:hover {
    background-color: #162542;
    color: white;
}

.btn2:hover {
    background-color: #ff9b62;
}

.hero-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    flex-direction: row;
}

.container {
    max-width: 445px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 56px;
    line-height: 56px;
    font-weight: 900;
    text-transform: uppercase;
}

image-container1 {
    max-width: 100%;
}

.img1 {
    height: 480px;
    width: 540px;
    border-radius: 15px;
}