* {
    outline: 1px solid red;
    font-family: "Barlow", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    max-width: 1300px;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

button {
    width: 175px;
    height: 58px;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    border-radius: 13px;
    cursor: pointer;
}

.btn1 {
    background-color: #e8eff2;
    color: #162542;
}

.btn2 {
    background-color: #f16718;
    color: white;
}

.btn1:hover {
    background-color: #162542;
    color: white;
}

.btn2:hover {
    background-color: #ff9b62;
}

.hero-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 20px auto;
}

.container {
    max-width: 445px;
    width: 100%;
    padding: 5px;
}

h1 {
    font-size: 56px;
    line-height: 56px;
    font-weight: 900;
    text-transform: uppercase;
}

.container p {
    font-size: 18px;
    line-height: 26px;
    font-weight: medium;
    color: #7b8bad;
    margin: 20px 0;
}

.container span {
    color: #7b8bad;
    line-height: 26px;
    font-weight: bold;
    margin-left: 30px;
}

.img1 {
    height: 480px;
    width: 540px;
    border-radius: 15px;
}

.pattern1 { /*Fix this later so even if user uses wide screen monitor it stays in place*/
    position: absolute;
    top: 178px;
    right: 150px;
    z-index: -1;
}

.feature-container {
    max-width: 1200px;
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: space-between; 
    gap: 20px;
}

.image-container1 {
    background: url(./assets/desktop/image-phone-and-keyboard.jpg) no-repeat center center/cover;
    width: 255px;
    height: 480px;
    border-radius: 15px;
    position: relative;
    z-index: -1;
}

.image-sleeve {
    background-color: rgba(241, 103, 24, 0.5);
    width: 255px;
    height: 480px;
    position: relative;
    z-index: 1;
    border-radius: 15px;
}

.img3 {
    width: 445px;
    height: 480px;
    border-radius: 15px;    
}

.feature {
    max-width: 255px;
    width: 100%;
    padding: 5px;
    margin: auto;
}

.feature h2 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 900;
    color: #162542;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.feature p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #7b8bad;
}

.pattern2 {
    position: absolute;
    top: 930px;
    left: -100px;
    z-index: -1;
}