* {
    outline: 1px solid red;
    font-family: "Barlow", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

header {
    max-width: 1300px;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

button {
    width: 175px;
    height: 58px;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    border-radius: 13px;
    cursor: pointer;
}

.btn1 {
    background-color: #e8eff2;
    color: #162542;
}

.btn2 {
    background-color: #f16718;
    color: white;
}

.btn1:hover {
    background-color: #162542;
    color: white;
}

.btn2:hover {
    background-color: #ff9b62;
}

.hero-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 20px auto;
}

.container {
    max-width: 445px;
    width: 100%;
    padding: 5px;
}

h1 {
    font-size: 56px;
    line-height: 56px;
    font-weight: 900;
    text-transform: uppercase;
}

.container p {
    font-size: 18px;
    line-height: 26px;
    font-weight: medium;
    color: #7b8bad;
    margin: 20px 0;
}

.container span {
    color: #7b8bad;
    line-height: 26px;
    font-weight: bold;
    margin-left: 30px;
}

.img1 {
    height: 480px;
    width: 540px;
    border-radius: 15px;
}

.pattern1 { /*Fix this later so even if user uses wide screen monitor it stays in place*/
    position: absolute;
    top: 178px;
    right: 150px;
    z-index: -1;
}

.feature-container {
    max-width: 1200px;
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: space-between; 
    gap: 20px;
}

.image-container1 {
    background: url(./assets/desktop/image-phone-and-keyboard.jpg) no-repeat center center/cover;
    width: 255px;
    height: 480px;
    border-radius: 15px;
    position: relative;/*For the overlay*/
    overflow: hidden;/*To make sure the overlay doesn't go outside the image*/
}

.image-sleeve {
    background-color: rgba(241, 103, 24, 0.5);
    position: absolute; /* makes it sit ON TOP exactly */
    inset: 0; /*Match parent's size*/
    border-radius: 15px;
}

.img3 {
    width: 445px;
    height: 480px;
    border-radius: 15px;    
}

.feature {
    max-width: 255px;
    width: 100%;
    padding: 5px;
    margin: auto;
}

.feature h2 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 900;
    color: #162542;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.feature p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #7b8bad;
}

.pattern2 {
    position: absolute;
    top: 930px;
    left: 150px;
    z-index: -1;
}

.specs-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-content: center;
    flex-direction: row;
    margin: 100px auto;
}

.specs-section {
    max-width: 255px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.specs-section h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    color: #162542;
    text-transform: uppercase;
    margin: 30px 0;
}

.specs-section p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #7b8bad;
    height: 130px;
}

.img-container {
    background-color: rgba(241, 103, 24);
    width: 65px;
    height: 65px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    font-size: 16px;
    line-height: 26px;
    color: #7b8bad;
    margin: 25px 0;
}

.footer-container span {
    font-weight: bold;
}

/*** MEDIA QUERIES ***/
/*Mobile*/
@media (max-width: 767px) {
    header {
        max-width: 95%;
    }

    .hero-container {
        flex-direction: column;
        align-items: center;
    }

    .container {
        max-width: 327px;
        margin: 20px 0;
    }

    h1 {
        font-size: 48px;
        line-height: 48px;
    }

    .container p {
        font-size: 16px;
        line-height: 26px;
    }

    .img1 {
        width: 372px;
        height: 331px;
        margin: 20px 0;
        position: relative;
        right: -40px;
    }

    .pattern1, .pattern2 {
        display: none;
    }

    .feature-container {
        width: 370px;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }

    .image-container1 {
        background-image: url(./assets/mobile/image-phone-and-keyboard.jpg);
        width: 129px;
        height: 193px;
        order: 1;
        position: relative;
        left: -25px;
    }

    picture {
        order: 1;
    }

    .img3 { 
        width: 220px;
        height: 193px;
        order: 1;
        position: relative;
        left: -20px;
    }

    .feature {
        order: 2;
        max-width: 327px;
        text-align: center;
        margin: 20px 0;
    }

    .feature h2 {
        width: 255px;
        margin: 20px auto;
    }

    .specs-container {
        flex-direction: column;
        align-items: center;
        margin: 30px auto;
    }

    .specs-section {
        max-width: 327px;
        text-align: center;
    }

    .img-container {
        margin: auto;
    }

    footer {
        margin: auto;
    }
}

/*Tablet*/
@media (max-width: 1024px) and (min-width: 768px) {
    header {
        max-width: 90%;
    }

    .hero-container {
        max-width: 95%;
        width: 100%;
        padding: 0 20px;
    }

    .container {
        max-width: 340px;
    }

    h1 {
        font-size: 48px;
        line-height: 48px;
    }
    
    .img1 {
        width: 400px;
        height: 425px;
        position: relative;
        right: -90px;
    }

    .pattern1, .pattern2 {
        display: none;
    }

    .feature-container {
        max-width: 689px;
        flex-wrap: wrap;
    }

    .image-container1 {
        width: 214px;
        height: 320px;
    }

    .img3 {
        width: 445px;
        height: 320px;
    }

    .feature {
        max-width: 690px;
        display: flex;
        flex-direction: row;
        margin: 20px 0;
    }

    .feature h2{
        margin: auto;
    }
}